@import url(reset.css);
@import url(fonts.css);

:root {
  --color-background: #f0f0ec;
  --font-title: "Tanker", sans-serif;
}

.halftone::after {
    --size: 8px;
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  background-blend-mode: multiply;
  background: radial-gradient(var(--size) var(--size), cyan, white), radial-gradient(var(--size) var(--size), magenta, white), radial-gradient(var(--size) var(--size), yellow, white);
  background-position-x: 0%, 0%, 0%;
  background-position-y: 0%, 0%, 0%;
  background-size: auto, auto, auto;
  background-size: var(--size) var(--size);
  background-position: 0 calc(var(--size) / 2 * -1) , calc(var(--size) / 3 * -1) 0, calc(var(--size) / 2) 0;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: rotate(11.25deg);
  z-index: 1;
}

.background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  border: 2em solid var(--color-background);
  position: fixed;
  z-index: 10000;
  z-index: -10;
}

.background img {
  inset: 0;
  width: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.homepage {
    color: darkblue;
    
}

.homepage h1 {
  /* color: white; */
  font-size: 8em;
  text-transform: uppercase;
  font-family: var(--font-title);
  mix-blend-mode: multiply;
  transform: rotate(-3deg);
}

.homepage .content {
  transform: rotate(-3deg);
    
  max-width: 45ch;
  /* color: white; */
  font-family: var(--font-title);
  font-size: 2em;
  mix-blend-mode: multiply;
  padding-left: 2em;
}

.homepage .background {
    filter: invert();
}