{# figure from #}


{% set notfound = "none" %}

{% for img in collection %}

{% if img.data.id == noticeID %}

{% set notfound = "0" %}

<figure class="{{class}}"> 
<img src="/images/{{img.data.filename}}"  alt="{{img.data.title}}" / >
</figure>

{% endif %}

{% endfor %}

{% if "none" in notfound %}

<p class="warning">The notice couldn’t be found, please check the notice id.</p>

{% endif %}
