{% extends "base.njk" %}

{% block background %}

    {% import "macros.njk" as macro with context %}

    <div class="background">
        {{ macro.figurefrom(backroundnoticeid, collections.notices, "halftone revert") }}
        {# {{ macro.field("test") }} #}
    </div>
{% endblock %}

{% block content %}
    <main>
        <header>
            <h1>{{title}}</h1>
        </header>

        <section class="content">
            {{content | safe}}
        </section>

<section class="links">
            <ul>
                {% for item in collections.posts %}
                    <li>
                        <a href="{{item.data.permalink}}">{{item.data.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="links">
            <ul>
                {% for item in collections.notices %}
                    <li>
                        <a href="{{item.permalink}}">{{item.data.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}