{# image from the notice #}
{% macro figurefrom(noticeID, collection, class) %}
    {% include "reusables/imgFromNotice.njk" %}
{% endmacro %}

{# fied #}
{% macro field(name, value = '', type = 'text') %}
    {% include "reusables/test.njk" %}
{% endmacro %}