{% extends "base.njk" %}

{% block background %}{% endblock %}

{% block content %}
    <main>
        <header>
            <h1>{{title}}</h1>
        </header>
        <section class="content">
            <figure><img src="/images/{{filename}}"/></figure>
            <p>id: {{id}}</p>
            <p>title: {{title}}</p>
            <p>originaltitle: {{originaltitle}}</p>
            <p>author: {{author}}</p>
            <p>publisher: {{publisher}}</p>
            <p>origin: {{origin}}</p>
            <p>circa: {{circa}}</p>
            <p>medium: {{medium}}</p>
            <p>dimensions: {{dimensions}}</p>
            <p>credit: {{credit}}</p>
            <p>acquisitionnumber: {{acquisitionnumber}}</p>
            <p>collections: {{collections}}</p>
            <p>classifications: {{classifications}}</p>
            <p>filename: {{filename}}</p>
        </section>
    </main>
{% endblock %}