{% extends "base.njk" %}

{% block content %}
    <main>
        <ul>
            {% for notice in collections.notices %}
                <li>
                    <a href="{{notice.url}}">{{notice.data.title}}</a>
                </li>
            {% endfor %}
        </ul>

        {{content | safe}}
    </main>
{% endblock %}