{% extends "base.njk" %}

{% block content %}
    <main>
        <ul>
            {% for post in collections.posts %}
                <li>
                    <a href="{{post.url}}">{{post.data.title}}</a>
                </li>
            {% endfor %}
        </ul>

        {{content | safe}}
    </main>
{% endblock %}