{% extends "base.njk" %}

{% import "macros.njk" as macro with context %}

{% block background %}
{% endblock %}

{% block content %}
    <main>
    
    

    <header>
        <h1>{{title}}</h1>
    </header>

    <section class="content">
        {{content | safe}}
    </section>
</main>
{% endblock %}